<%= render partial: './header.html.erb' %>
 <div class ="choice-container">
            <div class ="container-header">
              <div class = "option active">Информация</div>
              <div class = "option">Заказы</div>
              <div class = "option">Товары</div>
              <div class = "hidden" data-last = "0"></div>
            </div>
            <div class = "container-body">

              <div class = "option show">
              <div class = "desription">
                <h3>Описание</h3>
                Некотрое описание магазина. Некотрое описание магазина.
                Некотрое описание магазина. Некотрое описание магазина.
              </div>
              <div class = "desription">
                <h3>Владелец</h3>
                Иванов Иван Иваныч
              </div>
              <div class = "desription">
                <h3>Контактная информация</h3>
              </div>
              <table>
                <tbody>
                  <tr>
								    <td class="column1">Моб. телефон</td>
									  <td class="column2">88005553535</td>
								  </tr>
                  <tr>
								    <td class="column1">Эл. почта</td>
									  <td class="column2">example@gmail.com</td>
								  </tr>
                  <tr>
                    <!-- Если есть -->
                    <td class="column1">ИНН</td>
                    <td class="column2"><a href = "https://egrul.nalog.ru/index.html">823186817531</a> <a href = "https://egrul.nalog.ru/index.html" class = "hidden">Проверить на сайте ИФНС?</a></td>
                  </tr>
                  <tr>
                    <td class="column1">Соц. сети</td>
                    <td class="column2"></td>
                  </tr>
                  <tr class = "sub">
								    <td class="column1">ВКонтакте</td>
									  <td class="column2"><a>vk.com/best_seller</a></td>
								  </tr>
                  <tr class = "sub">
								    <td class="column1">WhatsUp</td>
									  <td class="column2">7 600 154-64-42</td>
								  </tr>
                  <tr class = "sub">
								    <td class="column1">Telegram</td>
									  <td class="column2"><a>t.me/best_seller</a></td>
								  </tr>
                </tbody>
              </table>
              </div>
              <div class = "option">
              <table>
                <div class = "desription">
                <h3>Адреса</h3>
                </div>
                <tbody>
                  <tr>
									  <td class="column1">г. Таганрог, ул. Комсомольская 134, ТЦ Мармелад (3 этаж)</td>
								  </tr>
                  <tr>
									  <td class="column1">ул. Петровкая 12, Рынок "Радуга"</td>
								  </tr>
                  <tr>
									  <td class="column1">г. Таганрог, ул. Красноармейскаб пер. 17, Сэконд-хенд "Голубушка"</td>
								  </tr>
                  <tr>
								    <td class="column1">Сэконawdaowkjdpoawjdop a;wdmo awd,lp д-хенд "Голубушка", г. Таганрог, ул. Красноармейскаб пер. 17</td>
								  </tr>
                </tbody>
              </table>
              </div>
              <div class = "option">
              </div>

            </div>
          </div>


