<%= render partial: './header.html.erb' %>

<div class="wrap">
<div class = "profile_caller_main">
    <div class="avatar_raw">
            <img src="https://www.xscript.ir/wp-content/uploads/placeholder-camera-green.png">
    </div>

<div class="content-profile_wrap">
    <div class="content-profile">
    <div class="profile_raw">
                <div class="profile_cell profile_cell-idx">
                   1
                </div>
                <div class="profile_cell profile_cell-idx">
                  2
                 </div>
                 <div class="profile_cell profile_cell-idx">
                   3
                 </div>
           </div>
       <div class="profile_raw">
            <div class="profile_cell">
               qwqtqwt qwtqwtqwt qwrtwqt
            </div>
            <div class="profile_cell">
              qwqtqwt qwtqwtqwt qwrtwqt
             </div>
             <div class="profile_cell">
               qwqtqwt qwtqwtqwt qwrtwqt
             </div>
       </div>
       <div class="profile_raw">
                   <div class="profile_cell">
                      qwqtqwt qwtqwtqwt qwrtwqt
                   </div>
                   <div class="profile_cell">
                     qwqtqwt qwtqwtqwt qwrtwqt
                    </div>
                    <div class="profile_cell">
                      qwqtqwt qwtqwtqwt qwrtwqt
                    </div>
        </div>
    </div>
</div>
</div>
</div>