
<%= render partial: './header.html.erb' %>

<div class="wrap">
  <div class="seller_profile_main">
    <div class="avatar_col">
      <img src="https://www.xscript.ir/wp-content/uploads/placeholder-camera-green.png"/>
    </div>
    <div class="seller_table">
      <div class="seller_row">
        <div class="seller_cell seller_row-idx"><div class="seller_row-idx-box"><div>1</div></div></div>
        <div class="seller_cell">Адрес магазина:</div>
        <div class="seller_cell">ул. Пальмиро Тольятти д.23</div>
      </div>
      <div class="seller_row">
        <div class="seller_cell seller_row-idx"><div class="seller_row-idx-box"><div>2</div></div></div>
        <div class="seller_cell">Адрес магазина</div>
        <div class="seller_cell">ул. Пальмиро Тольятти д.23</div>
      </div>
      <div class="seller_row">
        <div class="seller_cell seller_row-idx"><div class="seller_row-idx-box"><div>2</div></div></div>
        <div class="seller_cell">Адрес магазина</div>
        <div class="seller_cell">ул. Пальмиро Тольятти д.23</div>
      </div>
    </div>
  </div>
</div>
