<%= render partial: './header.html.erb' %>
<section class="contact-us registration section">
  <div class="container">
      <div class="form-main">
        <div class="title">
          <h2>Регистрация</h2>
        </div>
        <form class = "form" novalidate>
        <div class="form form_row">
          <div class="row">
            <div class="col-lg-6 col-12">

                <div class="form-group Email" data-min="5" data-max="50">
                    <label>Эл. почта<span>*</span></label>
                    <input name="email" type="email" placeholder="" novalidate>
                    <div class="error-list"></div>
                </div>

                <div class="form-group Password" data-min="8" data-max="50">
                    <label>Пароль<span>*</span></label>
                    <input name="pass" type="password" placeholder="">
                    <div class="error-list"></div>
                </div>

                <div class="form-group Double_Password">
                    <label>Подтверждение пароля<span>*</span></label>
                    <input name="pass" type="password" placeholder="">
                    <div class="error-list"></div>
                </div>

                <div class="form-group Tel_Number" data-min="5" data-max="50">
                    <label>Телефон<span>*</span></label>
                    <input name="login" type="tel" placeholder="+7-(XXX)-XXX-XX-XX">
                    <div class="error-list"></div>
                </div>

            </div>
            <div class = "col-12 col-lg-6">
              <div class="form-group Category">
                    <label>Выберите город<span>*</span></label>
                    <p style="display: flex" >
                        <select name="category" class="category_select">
                          <option value="" disabled selected>--------</option>
                          <option value="Taganrog">Таганрог</option>
                          <option value="Rostov">Ростов</option>
                          <option value="Moscow">Москва</option>
                          <option value="Smolensk">Смоленск</option>
                        </select>
                    </p>
                    <div class="error-list"></div>
                  </div>
            </div>
            <div class="col-lg-10 col-12">
              <div class="form-group button">
                <button type="submit" class="btn">Зарегистрироваться</button>
              </div>
            </div>
          </div>
        </div>
        </form>
    </div>
  </div>
</section>
