<%= render partial: './header.html.erb' %>
<section class="contact-us restore section">
    <div class ="choice-container">
        <div class ="container-header">
            <div class = "options">
                <label class = "active" for = "0">Эл. почта</label>
                <label for = "1">Моб. телефон</label>
            </div>
            <div class = "radios">
                <input type = "radio" id="0" name="radio-group" onclick = "choice_container(this)" checked>
                <div>
                    <div>
                    </div>
                </div>
                <input type = "radio" id="1" name="radio-group" onclick = "choice_container(this)">
                <div>
                    <div>
                    </div>
                </div>
                <input type="hidden" value = "0"/>
            </div>
        </div>
        <div class = "container-body">
            <div class = "option show">
                <form class = "form">
                <div class="form-group Email" data-min="5" data-max="50">
                    <label>Эл. почта<span>*</span></label>
                    <input name="email" type="email" placeholder="">
                    <div class="error-list"></div>
                </div>
                <div class="form-group button">
                    <button type="submit" class="btn">Отправить</button>
                </div>
                </form>
            </div>

            <div class = "option">
                <form class = "form">
                <div class="form-group Tel_Number" data-min="5" data-max="50">
                    <label>Телефон<span>*</span></label>
                    <input name="phone" type="tel" placeholder="+7-(XXX)-XXX-XX-XX">
                    <div class="error-list"></div>
                </div>
                <div class = "step">
                    <div class="form-group Code" data-min="6" data-max="6">
                        <label>Код подтверждения<span>*</span></label>
                        <input name="code" type="number">
                        <div class="error-list"></div>
                    </div>
                    <div class="form-group Password" data-min="8" data-max="50">
                        <label>Новый пароль<span>*</span></label>
                        <input name="password" type="password" placeholder="">
                        <div class="error-list"></div>
                    </div>
                    <div class="form-group Double_Password">
                        <label>Подтверждение пароля<span>*</span></label>
                        <input name="pass" type="password" placeholder="">
                        <div class="error-list"></div>
                    </div>
                </div>
                <div class="form-group button">
                    <button type="submit" class="btn">Отправить</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</section>
