<%= render partial: './header.html.erb' %>

<section class="contact-us sign-in section">
  <div class="container">
    <div class="form-sign-in">
      <div class="form-main">
        <div class="title">
          <h2>Вход</h2>
        </div>
        <%= form_with class: "form",:html =>{'novalidate'=>''}, multipart: true do %>
          <div class="error-list">
            <% if @error %>
              <li>
                Некорректные данные для входа
              </li>
            <% end %>
          </div>
      <div class="row">
            <div class="col-lg-10 col-12">
              <div class="form-group">
                <label>Эл. почта или телефон</label>
                <input name="login" type="text" placeholder="" value="<%= @login %>">
              </div>
            </div>
            <div class="col-lg-10 col-12">
              <div class="form-group">
                <label>Пароль</label>
                <input name="password" type="password" placeholder="">
              </div>
            </div>
            <div class="col-lg-10 col-12">
              <div class="row check-recovery">
              <div>
                <div class="checkbox">
                  <label class="checkbox-inline" for="2">
                    <input name="remember" id="2" type="checkbox">
                    Запомнить меня
                  </label>
                </div>
              </div>
              <div class="recovery-pass">
                <a href="">Забыли пароль?</a>
              </div>
              </div>
            </div>
            <div class="button-sign-in col-lg-10 col-12">
              <div class="form-group button">
                <button type="submit" class="btn">Войти</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
