
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "vars";
//restore
section.restore {
  max-width: 434px !important;
  margin: 0 auto !important;
}
.seller_profile_main{
  display: flex;
}
.avatar_col{
  max-width: 200px;
}
.seller_table{
  margin-left: 30px;
  width: 100%;
}
.seller_row{
  display: flex;

}
.seller_cell{
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  padding: 15px;
  width: calc((100% - 30px)/2);
}
.seller_row-idx{
  width: 30px;
  padding: 15px 0;
  border-right: 0;
}
.seller_row-idx-box{
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
  background-color: $color-accent;
  color: #FFFFFF;

}

.seller_cell:last-child{
  border-right: 0;
}

//Profile

.section-profile{
  padding: 35px 0 100px 0;
}

.sidebar-container{
  width: 22%;
  padding: 0 15px;
  min-width: max-content;
}

.shop-sidebar .category-list li a{
  text-transform: none;
}

.profile-main{
  //padding: 10px;
  flex-grow: 1;
  padding-left: 20px;
}
.ap-suggestion{
  padding: 5px;
}
.profile-main h2{
  padding-bottom: 20px;
  font-size: 38px;
}

.inform-profile,
.list-shops{
  border-bottom: 1px solid #ddd;
}

.list-shops{
  padding-top: 15px;
}

.inform-profile div{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.inform-profile p{
  width: 180px;
}


.data{
  color: black;
}

.actions{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.actions a{
  text-decoration: underline !important;
  margin: 8px 0;
  width: max-content;
}

.shop-list{
  list-style: none;
}

.shop-list li{
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.shop-list li:last-child{
  border-bottom: none;
}

.shop-inform{
  display: flex;
  flex-grow: 1;
}

.shop-list .shop-name a{
  font-weight: 600;
  color: #282828;
  font-size: 18px;
}

.shop-image{
  margin: 0 15px 0 10px;
  width: 70px;
  min-width: 70px;
}


.shop-list .edit-shop{
  margin: 15px 15px 15px 45px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #282828;
}

.shop-list .edit-shop .ti-settings{
  font-size: 24px;
  margin-left: 10px;
}

//End-Profile

//sign-in

.form-sign-in{
  padding: 0 10px;
  max-width: 550px;
}

.sign-in .form-sign-in,
.sign-in .form-sign-in .col-12{
  position: relative;
  margin: 0 auto;
}

.sign-in .form-sign-in h2{
  text-align: center;
}

.button-sign-in .form-group{
  width: min-content;
  margin: 10px auto !important;
}

.button-sign-in .form-group button{
  margin: 0 auto;
}

.sign-in .checkbox label{
  font-size: 15px;
  font-weight: 400;
  color: #333;
  position: relative;
  padding-left: 25px;
}

.sign-in .checkbox label input {
  display: none;
}

.sign-in .checkbox label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #555555;
  border-radius: 0;
}

.sign-in .checkbox label::after {
  position: absolute;
  content: "\f00c";
  font-family: "Fontawesome";
  left: 3px;
  top: 0;
  width: 22px;
  height: 22px;
  line-height: 24px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  font-size: 11px;
}

.sign-in .checkbox label.checked::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.sign-in .checkbox label:hover {
  cursor: pointer;
}

.recovery-pass a{
  text-decoration: underline;
}

.check-recovery{
  justify-content: space-between;
  margin: 0;
}

@media only screen and (max-width: 360px) {
  .sign-in .checkbox label {
    font-size: 14px;
  }
  .sign-in .recovery-pass a{
    font-size: 14px;
  }
}

//end-sign-in

//shop_id

.inform-shop{
  padding-bottom: 0;
}

.left-shop-inform-container{
  background-color: rgb(246, 247, 251);
  padding: 15px 0;

}

.left-shop-inform{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.left-shop-inform div{
  padding-bottom: 8px;
}

.rating-shop{
  padding-top: 2px;
}
.data-shop{
  //padding-right: 3px;
}
.left-shop-inform .reviews{
  padding-right: 5px;
  width: max-content;
}

.left-shop-inform .reviews li {
  display: inline-block;
  font-size: 20px;
}

.left-shop-inform .reviews li.yellow i {
  color: #F7941D;
}

.logo-shop{
  padding: 0 5px;
  //margin: 0 auto;
  //padding-bottom: 15px;
}

.rating-shop{
  display: flex;
}

.rating-shop-numb{
  font-size: 20px;
  color: #424646;
  padding-right: 5px;
}

.shop-name h2{
  padding-bottom: 20px;
  font-size: 38px;
}

//end-shop_id

//wishlist

.wishlist-container{
  flex-wrap: nowrap;
}

.wishlist-element{
  display: flex;
  align-items: center;
  padding: 25px 15px;
  border-bottom: 1px solid #ddd;
}

.wishlist-element .element-inform{
  display: flex;
  flex-grow: 1;
}

.wishlist .product-name a {
  font-weight: 600;
  color: #282828;
  font-size: 17px;
}

.wishlist p {
  font-size: 14px;
  color: #666;
}

.wishlist .product-image{
  width: 90px;
  min-width: 90px;
}

.wishlist .product-inform{
  flex-grow: 1;
  padding: 0 20px;
  min-width: 160px;
}

.wishlist .price,
.wishlist .delete{
  font-size: 20px;
  white-space: nowrap;
  padding: 0 20px;
}
//wishlist-end

//products-shop-profile

.shop-profile-name{
  padding: 5px 0;
}

.list-products .shop-product-inform {
  display: flex;
  flex-grow: 1;
}

.list-products .product-image {
  width: 90px;
  min-width: 90px;
}

.list-products .product-image img{
  object-fit: cover;
  height: 90px;
  width: 90px;
}

.list-products .product-name a{
  font-weight: 600;
  color: #282828;
  font-size: 17px;
}

.list-products .product-inform{
  word-break: break-word;
  flex-grow: 1;
  padding: 0 20px;
}

.product-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-link-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-products .icon-link,
.list-products .price{
  font-size: 20px;
  white-space: nowrap;
  padding: 0 22px;
  text-align: center;
}

.list-products .quantity{
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
}

.quantity-num{
  color: #424646;
}

.list-products .shop-product{
  display: flex;
  align-items: center;
  padding: 25px 15px;
  border-bottom: 1px solid #ddd;
}


.shop-name-container{
  margin: 20px 40px 10px;
  display: flex;
  align-items: center;
}

.shop-name-container .image img{
  border-radius: 100%;
}

.shop-name{
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  color: #424646;
}


//end-products-shop-profile

@media only screen and (max-width: 992px){
   .right-bar div{
    margin-right: 10px !important;
  }
}

@media only screen and (max-width: 780px) {
  .wishlist .price,
  .list-products .price,
  .list-products .icon-link,
  .list-products .quantity{
    padding: 0 12px;
  }
  .element-inform,
  .shop-product-inform{
    padding-right: 10px;
  }
}
@media only screen and (max-width: 765px)
{
  .users.profile .sidebar-container{
    width: 100%;
  }
}
@media only screen and (max-width: 685px) {
  .sidebar-container{
    width: 100%;
  }
  .wishlist-container{
    flex-wrap: wrap;
  }
  .product-inform{
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 680px) {
  .wishlist .product-image,
  .list-products .product-image{
    width: 80px;
    min-width: 80px;
  }
  .wishlist .product-image img,
  .list-products .product-image img{
    height: 80px !important;
    min-height: 80px !important;
  }
  .wishlist-element,
  .shop-product{
    flex-wrap: wrap;
  }
  .wishlist-main{
    padding: 5px 15px 80px;
  }
  .wishlist-element,
  .shop-product{
    padding: 15px;
    justify-content: space-between;
  }
  .wishlist .price {
    flex-grow: 1;
    padding: 20px 0 0;
  }

  .wishlist .delete,
  .list-products .icon-link,
  .list-products .price,
  .list-products .quantity{
    padding: 25px 8px 0;
  }

  .product-elements{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .icon-link-container{
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .shop-product div{
    flex-grow: 1;
  }
}




@media only screen and (max-width: 768px) {
  .seller_profile_main{
    display: block;
  }
  .seller_table{
    margin: 0;
  }
}


@media only screen and (min-width: 601px) {
  .seller_row:last-child>.seller_cell{
    border-bottom: 0;
  }
}


@media only screen and (max-width: 600px) {
   .shop-list li{
     flex-wrap: wrap;
   }
}

//start-restore
.restore .section .btn{
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
}
//start choice-container styles
.choice-container{
  box-shadow: 0px 0px 15px #0000001a;
  transition: all 0.2s ease;
}
.choice-container .container-header{
  box-shadow: 0px 4px 15px #0000001a;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.choice-container .container-header .option{
  display: table-cell;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 6px;
}
.choice-container .container-header .hidden{
  display: none;
}
.choice-container .container-header .option:hover, .choice-container .container-header .option.active{
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.4s ease;
}
.choice-container .container-header .option.active, .choice-container .container-header .option:hover.active{
  background-color: #F6971C;
}
.choice-container .container-header .option:hover{
  background-color: #ffae44;
}
.choice-container .container-body{
  padding: 30px;
}
//hide all option by default
.choice-container .container-body .option{
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.choice-container .container-body .option.show{
  opacity: 1;
  height: 100%;
}
.step{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s ease, opacity 0.5s ease;
  transition: max-height 1s ease, opacity 0.5s ease;
}
.step.active{
  max-height: 520px;
  opacity: 1;
}
//end choice-container styles
//end-restore

//shop-start
.shops table thead th{
  color: #fff;
}
.shops .column1{
  width: 40%;
}
.shops .column2{
  width: 60%;
  padding-right: 6px;
}
.shops .column2.centered{
  text-align: center;
}

.shops table thead tr{
  height: 50px;
}

.shops table tbody tr.sub{
  height: 40px;
}
.shops table tbody tr.sub .column1{
  padding-left: 80px;
}

.shops .choice-container .container-body {
  padding: 0px;
}
.shops .choice-container .container-body table{
  border-radius: 0px;
}

.shops .option .desription{
  padding: 20px 20px 0 20px;
  font-size: 1rem;
}
.shops .option .desription h3{
  margin-bottom: 10px;
}
.shops .choice-container tbody td a:hover{
  color: #F7941D;
}
.shops .hidden{
  margin-left: 15px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.shops .choice-container tbody tr:hover .hidden{
  opacity: 1;
}

@media (max-width: 840px){
  .hidden{
    display: none;
  }
}
@media (max-width: 440px){
  .shops .choice-container .container-header{
    display: flex;
    flex-direction: column;
  } 
  .shops .column1{
    padding-left: 18px;
  }
  .shops .column2{
    padding-left: 17px;
    font-size: 14px;
    word-break: break-all;
  }
  .shops table tbody tr.sub .column1{
    padding-left: 44px;
  }
  .shops .choice-container h3{
    font-size: 1.2rem;
  } 
  .shop-name h2{
    font-size: 30px;
  }
} 
//shop-end

//Wish list and Cart delete transition
.wishlist .delete a > i, .shopping-cart .shopping-summery .action span > i{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wishlist .delete a:hover > i, .shopping-cart .shopping-summery .action span:hover > i {
  color: #F7941D;
}

//shop profile control orders start
.orders_header{
  font-weight: 700;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 5% 25% 15% 20% 20% 120px;
  background: #F6F7FB;
  box-shadow: 0px 2px 15px #0000002f;
  padding: 10px;
}
.orders_header div{
  text-align: center;
}

.orders_container{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 0px #0000001a;
}

.orders_container .order:nth-child(even){
  background-color: #f5f5f5;
}

.orders_container .order .title{
  cursor: pointer;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 5% 25% 15% 20% 20% 120px; 
  padding: 12px;
  grid-template-areas: "num name date total tel inf";
}
.orders_container .order .title > div{
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin: auto;
}

.orders_header .number, .orders_container .number  {
  margin-right: 0px;
}

.orders_container .order .title .number{
  text-align: left;
  grid-area: num;
}

.orders_container .order .title .customer_name{
  grid-area: name;
}

.orders_container .order .title .order_date{
  grid-area: date;
}

.orders_container .order .title .total_amount{
  font-weight: 700;
  grid-area: total;
}

.orders_container .order .title .tel{
  grid-area: tel;
}

.orders_container .order .title .inf_btn{
  margin-right: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  grid-area: inf;
}

.orders_container .order .title .inf_btn i{
  margin-left: 6px;
}

.orders_container .order .title:hover {
  background-color: #f5f5f5;
}

.orders_container .order .title:hover .inf_btn{
  color:#F6971C;
}

.orders_container .order .inner_info{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease, opacity 0.5s ease;
  -moz-transition: max-height 0.6s ease, opacity 0.5s ease;
  transition: max-height 0.6s ease, opacity 0.5s ease;
}

.orders_container .order.active .inner_info{

  max-height: 1200px;
  height: 100%;
  opacity: 1;
}


.order .inner_info .wrapper{
  padding: 20px 20px 20px 40px;
}

.order .inner_info .description{
  margin-top: 15px;
  margin-bottom: 10px;
}
.order .inner_info .description h3{
  font-size: 24px;
}
.order .inner_info .main_info{
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 21px;
}

.order .inner_info .main_info > div{
  margin-bottom: 12px;
}

.order .inner_info .main_info .content{
  color:#282828;
  font-weight: 700;
}

.order .inner_info .items_header,
.order .inner_info .items_footer
{
  display: grid;
  grid-template-columns: 80px 1fr 130px 110px 350px;

  color: #fff;
  background: #333;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  text-align: center;
}
.order .inner_info .items_footer{
  grid-template-areas: "empty empty empty total_name total";
  border-radius: 0px 0px 10px 10px;
}
.order .inner_info .items_footer .total_name{
  grid-area: total_name;
}
.order .inner_info .items_footer .total{
  grid-area: total;
}

.order .inner_info .items_container{
  display: flex;
  flex-direction: column;
}

.order .inner_info .items_header.scrollable {
  grid-template-columns: 80px 1fr 140px 90px 380px;
}

.order .inner_info .items_header.scrollable ~ .items_container{
    overflow-y: scroll;
    height: 500px;
}

.order .inner_info .items_container .item{
  display: grid;
  grid-template-columns: 90px 1fr 120px 120px 340px;
  grid-template-areas: "img des price qty sub-total";
  padding: 10px;
  background-color: #fff;
  align-items: center;
}

.order .inner_info .items_container .item .image{
  grid-area: img;
}
.order .inner_info .items_container .item .des{
  grid-area: des;
}
.order .inner_info .items_container .item .price{
  grid-area: price;
}
.order .inner_info .items_container .item .qty{
  grid-area: qty;
}
.order .inner_info .items_container .item .sub-total{
  grid-area: sub-total;
}

.order .inner_info .items_container .item .image img{
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.order .inner_info .items_container .item .price,
.order .inner_info .items_container .item .qty,
.order .inner_info .items_container .item .sub-total
{
  text-align: center;
}

.order .inner_info .items_container .item .price_name,
.order .inner_info .items_container .item .qty_name,
.order .inner_info .items_container .item .sub-total_name{
  display: none;
}

.order .inner_info .items_container .item .price_name{
  grid-area: price_name;
}
.order .inner_info .items_container .item .qty_name{
  grid-area: qty_name;
}
.order .inner_info .items_container .item .sub-total_name{
  grid-area: sub-total_name;
}

.order .inner_info .items_container .item .sub-total
{
  font-weight: 700;
}

.order .inner_info .items_container .item .des .product-name{
  color: #282828;
  font-weight: 600;
  font-size: 17px;
}

//shop control orders addaptivity
@media (max-width: 950px){
  .orders_header{
    display: none;
  }
  .orders_container .order .title{
    grid-template-columns: 5% 1fr 250px;
    grid-template-rows: repeat(4, 30px);
    grid-template-areas: 
            "num name inf"
            "num tel inf"
            "num date inf"
            "num total inf";
  }

  .orders_container .order .title > div{
    margin-left: 0px;
  }

  .order .inner_info .items_container .item{
    grid-template-columns: 90px 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "img des des"
        "empty  price_name price"
        "empty qty_name  qty"
        "empty sub-total_name sub-total";
  }

  .order .inner_info .items_container .item .price,
  .order .inner_info .items_container .item .qty,
  .order .inner_info .items_container .item .sub-total,
  .order .inner_info .items_footer .total
  {
    text-align: start;
  }

  .order .inner_info .items_container .item .price_name,
  .order .inner_info .items_container .item .qty_name,
  .order .inner_info .items_container .item .sub-total_name,
  .order .inner_info .items_footer .total_name
  {
    display: block;
    text-align: end;
    margin-right: 20px;
  }

  .order .inner_info .items_footer{
    grid-template-columns: 90px 1fr 1fr;
    grid-template-areas: "emtpy total_name total";
  }

  .order .inner_info .items_header{
    grid-template-columns: 1fr;
    padding: 14px;
  }
  .order .inner_info .items_header > div{
    display: none;
  }
}

@media (max-width: 750px){
  .order .inner_info .main_info{
    font-size: 17px;
  }
}

@media (max-width: 600px){
  .orders_container .order .title{
    grid-template-columns: 25px 1fr 150px;
  }

  .order .inner_info .main_info{
    grid-template-columns: 1fr;
  }

  .order .inner_info .main_info > div{
    margin-bottom: 6px;
  }

  .order .inner_info .wrapper{
    padding: 20px;
  }

  .order .inner_info .items_container .item{
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
        "img des "
        "price_name price"
        "qty_name  qty"
        "sub-total_name sub-total";
  }
  .order .inner_info .items_footer{
    grid-template-columns: 90px 1fr;
    grid-template-areas: "total_name total";
  }

  .order .inner_info .items_container .item .image,
  .order .inner_info .items_container .item .des
  {
    margin-bottom: 10px;
  }
}
.users.orders .sidebar-container{
  width: 100% !important;
}
.users.orders .wishlist-container{
  flex-wrap: wrap !important;
}
@media (max-width: 500px){
  .orders_container .order .title {
    grid-template-columns: 25px 1fr;
    grid-template-areas: 
        "num name"
        "num tel"
        "num date"
        "num total"
        "num inf";
  }
  .order .inner_info .description h3{
    font-size: 20px;
    text-align: center;
  }
  .order .inner_info .wrapper{
    padding: 10px;
  }
}
// end

// user profile orders
.orders_container .order .title .name{
  grid-area: name;
}
// end
@media screen and (max-width: 767px) {
  .users.profile .sidebar-container{
    width: 100%;
  }
}
