
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "vars";
//restore
section.restore {
  max-width: 434px !important;
  margin: 0 auto !important;
}
.seller_profile_main{
  display: flex;
}
.avatar_col{
  max-width: 200px;
}
.seller_table{
  margin-left: 30px;
  width: 100%;
}
.seller_row{
  display: flex;

}
.seller_cell{
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  padding: 15px;
  width: calc((100% - 30px)/2);
}
.seller_row-idx{
  width: 30px;
  padding: 15px 0;
  border-right: 0;
}
.seller_row-idx-box{
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
  background-color: $color-accent;
  color: #FFFFFF;

}

.seller_cell:last-child{
  border-right: 0;
}

//Profile

.section-profile{
  padding: 35px 0;
}

.sidebar-container{
  width: 22%;
  padding: 0 15px;
  min-width: max-content;
}

.shop-sidebar .category-list li a{
  text-transform: none;
}

.profile-main{
  padding: 5px 40px;

}

.profile-main h2{
  padding-bottom: 20px;
  font-size: 38px;
}

.inform-profile{
  border-bottom: 1px solid #ddd;
}

.inform-profile div{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.inform-profile p{
  width: 180px;
}


.data{
  color: black;
}

.actions{
  padding-top: 15px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.actions a{
  margin: 8px 0;
  width: max-content;
}

//End-Profile

//sign-in

.form-sign-in{
  padding: 0 10px;
  max-width: 550px;
}

.sign-in .form-sign-in,
.sign-in .form-sign-in .col-12{
  position: relative;
  margin: 0 auto;
}

.sign-in .form-sign-in h2{
  text-align: center;
}

.button-sign-in .form-group{
  width: min-content;
  margin: 10px auto !important;
}

.button-sign-in .form-group button{
  margin: 0 auto;
}

.sign-in .checkbox label{
  font-size: 15px;
  font-weight: 400;
  color: #333;
  position: relative;
  padding-left: 25px;
}

.sign-in .checkbox label input {
  display: none;
}

.sign-in .checkbox label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #555555;
  border-radius: 0;
}

.sign-in .checkbox label::after {
  position: absolute;
  content: "\f00c";
  font-family: "Fontawesome";
  left: 3px;
  top: 0;
  width: 22px;
  height: 22px;
  line-height: 24px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  font-size: 11px;
}

.sign-in .checkbox label.checked::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.sign-in .checkbox label:hover {
  cursor: pointer;
}

.recovery-pass a{
  text-decoration: underline;
}

.check-recovery{
  justify-content: space-between;
  margin: 0;
}

@media only screen and (max-width: 360px) {
  .sign-in .checkbox label {
    font-size: 14px;
  }
  .sign-in .recovery-pass a{
    font-size: 14px;
  }
}

//end-sign-in

//shop_id

.inform-shop{
  padding-bottom: 0;
}

.left-shop-inform-container{
  background-color: rgb(246, 247, 251);
  padding: 15px 0;

}

.left-shop-inform{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.left-shop-inform div{
  padding-bottom: 8px;
}

.rating-shop{
  padding-top: 2px;
}
.data-shop{
  padding-right: 3px;
}
.left-shop-inform .reviews{
  padding-right: 5px;
  width: max-content;
}

.left-shop-inform .reviews li {
  display: inline-block;
  font-size: 20px;
}

.left-shop-inform .reviews li.yellow i {
  color: #F7941D;
}

.logo-shop{
  padding: 0 5px;
  //margin: 0 auto;
  //padding-bottom: 15px;
}

.rating-shop{
  display: flex;
}

.rating-shop-numb{
  font-size: 20px;
  color: #424646;
  padding-right: 5px;
}

.shop-name h2{
  padding-bottom: 20px;
  font-size: 38px;
}

//end-shop_id

@media only screen and (max-width: 992px){
   .right-bar div{
    margin-right: 10px !important;
  }
}


@media only screen and (max-width: 685px) {
  .sidebar-container{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .seller_profile_main{
    display: block;
  }
  .seller_table{
    margin: 0;
  }

}


@media only screen and (min-width: 601px) {

  .seller_row:last-child>.seller_cell{
    border-bottom: 0;
  }

}



@media only screen and (max-width: 600px) {

  .seller_row{
    flex-direction: column;
    box-shadow: 9px 10px 9px $color-border;
  }
  .seller_cell:last-child{
    border: 0;
  }
  .seller_cell{
    width: 100%;
    border-right: 0;
  }
  .seller_row-idx{
    margin-top: 10px;
    border-bottom: 0;
    width: 100%;
  }
  .seller_row-idx-box{
    width: 100%;
  }
}


.restore .section .btn{
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
}
//start choice-container styles
.choice-container{
  box-shadow: 0px 0px 15px #0000001a;
  transition: all 0.2s ease;
}
.choice-container .container-header{
  box-shadow: 0px 4px 15px #0000001a;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 6px;
}
.choice-container .options{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.choice-container .options label{
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
.choice-container .options label:hover, .active{
  color: #F6971C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.4s ease;
}

.choice-container .radios{
  display: flex;
  justify-content: space-evenly;
}
.choice-container .radios > div{
  margin-right: 10px;
}
//start radio button styles
.choice-container .radios input[type="radio"] {
  display:none;
}
.choice-container .radios input[type="radio"] + div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 12px;
  border: 1px solid #00000056;
  background: #fff;
  box-shadow: 0px 0px 6px #00000056;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.choice-container .radios input[type="radio"] + div > div{
  width: 16px;
  height: 6px;
  background: #F6971C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.choice-container .radios input[type="radio"]:not(:checked) + div > div {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.choice-container .radios input[type="radio"]:checked + div > div {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.choice-container .radios input[type="radio"]:checked + div{
  border-color: #F6971C;
  box-shadow:  0px 0px 6px #F6971C;
}
//end radio button styles

.choice-container .container-body{
  padding: 30px;
}
//hide all option by default
.choice-container .container-body .option{
  height: 0;
  overflow: hidden;
}
.choice-container .container-body .option.show{
  height: 100%;
}
.step{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s ease, opacity 0.5s ease;
  transition: max-height 1s ease, opacity 0.5s ease;
}
.step.active{
  max-height: 520px;
  opacity: 1;
}
//end choice-container styles
//end-restore

