
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "vars";

.seller_profile_main{
  display: flex;
}
.avatar_col{
  max-width: 200px;
}
.seller_table{
  margin-left: 30px;
  width: 100%;
}
.seller_row{
  display: flex;

}
.seller_cell{
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  padding: 15px;
  width: calc((100% - 30px)/2);
}
.seller_row-idx{
  width: 30px;
  padding: 15px 0;
  border-right: 0;
}
.seller_row-idx-box{
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
  background-color: $color-accent;
  color: #FFFFFF;

}

.seller_cell:last-child{
  border-right: 0;
}

//Profile

.section-profile{
  padding: 35px 0;
}

.sidebar-container{
  width: 22%;
  padding: 0 15px;
  min-width: max-content;
}

.shop-sidebar .category-list li a{
  text-transform: none;
}

.profile-main{
  padding: 5px 40px;

}

.profile-main h2{
  padding-bottom: 20px;
  font-size: 38px;
}

.inform-profile{
  border-bottom: 1px solid #ddd;
}

.inform-profile div{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.inform-profile p{
  width: 180px;
}


.data{
  color: black;
}

.actions{
  padding-top: 15px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.actions a{
  margin: 8px 0;
  width: max-content;
}

//End-Profile




@media only screen and (max-width: 992px){
  .header.shop .right-bar .single-bar{
    margin-right: 15px;
  }
}


@media only screen and (max-width: 685px) {
  .sidebar-container{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .seller_profile_main{
    display: block;
  }
  .seller_table{
    margin: 0;
  }

}


@media only screen and (min-width: 601px) {

  .seller_row:last-child>.seller_cell{
    border-bottom: 0px;
  }

}

@media only screen and (max-width: 600px) {

  .seller_row{
    flex-direction: column;
    box-shadow: 9px 10px 9px $color-border;
  }
  .seller_cell:last-child{
    border: 0px;
  }
  .seller_cell{
    width: 100%;
    border-right: 0;
  }
  .seller_row-idx{
    margin-top: 10px;
    border-bottom: 0px;
    width: 100%;
  }
  .seller_row-idx-box{
    width: 100%;
  }
}

