<%= render partial: './header.html.erb' %>


<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class = "add_product_section">
          <div class="form-main">
            <div class="title">
              
              <h3>Add new product</h3>
            </div>
            <form class="form" method="post" action="mail/mail.php">
              <div class="row">
                <div class=" col-lg-6 col-12">
                  <div class="form-group">
                    <label>Product Name<span>*</span></label>
                    <input name="name" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group button ">
                    <input type="file" id="myFile" name="filename" class="btn add_photo_btn"></input>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Product Category<span>*</span></label>
                    <p>
                    <select size="3" >
    
    <option value="Dress">Dress</option>
    <option selected value="Phones">Phones</option>
    <option value="Furniture">Furniture</option>
    <option value="Something else">Something else</option>
   </select>
</p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Product Price<span>*</span></label>
                    <input name="email" type="email" placeholder="">
                  </div>
                </div>
               
               
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn ">Send Message</button>
                  </div>
                </div>

                
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
