
<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <%= link_to(controller: "home", action: "index") do %>
                <%= image_tag 'logo2.svg' %>
              <% end %>
            </div>
            <p class="text">Это русская платформа продажи товаров онлайн, ориентирующаяся на широкий круг покупателей и продавцов, начиная от продажи одежды и заканчивая продажей электронных устройств и бытовой техники. </p>
            <p class="text">Наша платформа всегда открыта для новых предложений. Если вы продавец и желаете раширить свою аудиторию при помощи интернета, то NekMarket - это то, что вы ищете.</p>
            <p class="text">Достаточно лишь зарегистрировать свой магазин на нашей платформе, и перед вами откроются широкие возможности продажи товаров онлайн.</p>
            <p class="call">Есть вопросы? Свяжитесь с нами 24/7<span><a href="tel:+1(234)567-89-12">+1 (234)567-89-12</a></span></p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div style="display: none" class="col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Информация</h4>
            <ul>
              <li><a href="#">О нас</a></li>
              <li><a href="#">FAQ (Часто задаваемые вопросы)</a></li>
              <li><a href="#">Правила и условия использования</a></li>
              <li><a href="#">Связаться с нами</a></li>
              <li><a href="#">Помощь</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div style="display: none" class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Сервисы покупателя</h4>
            <ul>
              <li><a href="#">Способы оплаты</a></li>
              <li><a href="#">Возврат денег</a></li>
              <li><a href="#">Возврат</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div  style="display: none" class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Связаться</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>№ 342 - Лондон, Московская ул.</li>
                <li>012 Сказочное королевство.</li>
                <li>info@eshop.com</li>
                <li>8(800)555-35-35</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <!-- <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>-->
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <%= link_to "", controller: "home", action: "index" do %>
               <%= image_tag 'payments.png'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->

