
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="profile-image">
    </div>
    <div class="content-profile">
        <div>
            <p class="name-profile">
                Магазин молочных продуктов
            </p>
            <table>
                <tr><th>Коновалов Юрий Петрович</th><th>индивидуальный предприниматель</th></tr>
                <tr><th>ИНН 615414627136</th><th>ОГРН 30822346746756</th></tr>
                <tr><th>г.Таганрог</th><th>ул. Петровская д. 53 кв. 8</th></tr>
            </table>
        </div>
        <div>
        <table>
            <tr><th><p>1.</p></th><th><p>Адрес магазина №1</p></th><th><p>ул. Пальммро Тольятти д. 23</p></th></tr>
            <tr><th><p>2.</p></th><th><p>Адрес магазина №2</p></th><th><p>ул. Пальммро Тольятти д. 23</p></th></tr>
        </table>
        </div>
    </div>
</div>
</body>

</html>